# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/.idea/modules/jetcab.main.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/dataSources.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/sqldialects.xml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/build/bootScripts/jetcab
/build/bootScripts/jetcab.bat
/build/distributions/jetcab-0.0.1-SNAPSHOT.tar
/build/distributions/jetcab-boot-0.0.1-SNAPSHOT.tar
/build/reports/tests/test/classes/com.jetcab.controller.BookingControllerTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/com.jetcab.controller.html
/build/reports/tests/test/index.html
/build/resources/main/db/migration/V001__init.sql
/build/resources/main/db/migration/V002__test_data.sql
/build/resources/main/application.properties
/build/resources/main/messages_exceptions.properties
/build/resources/main/messages_validation.properties
/build/scripts/jetcab
/build/scripts/jetcab.bat
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-com.jetcab.controller.BookingControllerTest.xml
/build/tmp/bootJar/MANIFEST.MF
/build/tmp/compileJava/compileTransaction/stash-dir/BookingController.class.uniqueId2
/build/tmp/compileJava/compileTransaction/stash-dir/BookingService.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/BookingServiceImpl$1.class.uniqueId4
/build/tmp/compileJava/compileTransaction/stash-dir/BookingServiceImpl.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/ModifyBookingDTO.class.uniqueId3
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/compileTransaction/stash-dir/BookingControllerTest.class.uniqueId0
/build/tmp/compileTestJava/previous-compilation-data.bin
/build/tmp/jar/MANIFEST.MF
